<div class="fill">
  <div class="fill__">
    <a class="fill__ico" href="#" target="blank" title="Rellena">
      <i class="far fa-keyboard"></i></i></a>
    <h1 class="fill__h1">Rellena</h1>
  </div>
  <div>
    <i class="fas fa-chevron-down"></i>
  </div>

</div>

<form action="#" method="POST">

  <label for="fullName">Nombre completo</label>
  <input type="text" id="fullName" name="fullName" placeholder="Ej:sally-hill@gmail.com">

  <label for="job">Puesto</label>
  <input type="text" id="job" name="job" placeholder="Ej: Front-end unicorn">

  <label for="image">Imagen de perfil</label>
  <div><a href="#">Añadir imagen</a></div>
  <div></div>

  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="Ej: sally-hill@gmail.com">

  <label for="phone">Teléfono</label>
  <input type="text" id="phone" name="phone" placeholder="Ej:555-55-55-55">

  <label for="linkedin">Linkedin</label>
  <input type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill">

  <label for="github">Github</label>
  <input type="text" id="github" name="github" placeholder="Ej: @sally-hill">


</form>
