<section class="share">
  <div class="share__title">
    <div class="share__title__items">
      <i class="fas fa-share-alt"></i>
      <h1 class="share__title__items__title">Comparte</h1>
    </div>

    <img
      src="./assets/images/down.svg"
      class="icon-down"
      alt="icon-down"
      title="icon-down"
    />
  </div>

  <a class="share__button" href="#" title="Crea tu tarjeta"
    ><i class="far fa-address-card"></i>Crear tarjeta
  </a>

  <div class="share__result">
    <p class="share__result__text">La tarjeta ha sido creada:</p>
    <p class="share__result__url">
      https://awesome-profile-card.com?id=A456DF0001
    </p>

    <a class="share__result__button" href="#" title="Comparte en twitter">
      <i class="fab fa-twitter"></i>Compartir en twitter</a
    >
  </div>
</section>
