<section class="design create">
  <div class="collapse js-share-collapse">
    <div class="collapse__items">
      <i class="fas fa-share-alt collapse__items-icon"></i>
      <h1 class="collapse__items-title">Comparte</h1>
    </div>

    <i class="fas fa-angle-down collapse__icon-down"></i>
  </div>
  <div class="box-share js-hidden">
    <div class="share">
      <a class="share__button share__button--default" href="#" title="Crea tu tarjeta"><i
          class="far fa-address-card"></i>Crear tarjeta </a>

      <div class="share__result">
        <p class="share__result__text">La tarjeta ha sido creada:</p>
        <p class="share__result__url">
          https://awesome-profile-card.com?id=A456DF0001
        </p>

        <a class="share__result__button" href="#" title="Comparte en twitter"> <i class="fab fa-twitter"></i>Compartir
          en twitter</a>
      </div>
    </div>
  </div>
</section>
