<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script
      src="https://kit.fontawesome.com/61294e7035.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <partial src="_header.html" label="Header"></partial>
    <partial src="_card-result.html" label="Header"></partial>
    <partial src="_colors.html" label="Header"></partial>
    <partial src="_form.html" label="Header"></partial>
    <partial src="_share.html" label="Header"></partial>
    <partial src="_footer.html" label="Header"></partial>
  </body>
</html>
